$primary-color: #393043;
$primary-bg-color: #c4b8d0;
$button-bg-color: #443b4c;
$button-bg-hover-color: rgba(196, 184, 208, 0.15);
$button-bg-active-color: rgba(196, 184, 208, 0.2);

$text-color: white;


$title-size: 26px;
$input-size: 16px;
$button-size: 16px;